@{
    ViewBag.Title = "DeleteFrom";
}

<h2>DeleteFrom</h2>

<form action="/Dictionary/DeleteItem" method="post">
    <p>
        Enter in the item number that you want to delete:
        <input type="text" name="index" />
    </p>
    <input type="submit" value="Submit" />

</form>

